.blog-section {
  padding-block: 5rem;
  @media (min-width: 550px) {
    padding-block: 10rem;
  }
}
.blog-section__heading {
  position: relative;
  margin-bottom: 5rem;
  @media (min-width: 550px) {
    margin-bottom: 10rem;
  }
}
.blog-section__heading:before {
  position: absolute;
  bottom: -3rem;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  content: "";
}
