.contact-section {
  padding-block: 5rem;
  @media (min-width: 550px) {
    padding-block: 10rem;
  }
  .icon {
    color: black;
    height: 4rem;
  }
}
.contact-section__heading {
  position: relative;
  margin-bottom: 5rem;
}
.contact-section__heading:before {
  position: absolute;
  bottom: -3rem;
  height: 2px;
  width: 100%;
  background-color: currentColor;
  content: "";
}
.contact-section__text-wrapper {
  padding-bottom: 3rem;
  // float: right;
  h6,
  p {
    display: inline-block;
  }
  p {
    margin-left: 1rem;
  }
}
.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  @media (min-width: 550px) {
    margin-top: 20rem;
    width: 100%;
  }
  height: 450px;
  padding: 10px 0;
  input[name="email"],
  input[name="name"] {
    width: 100%;
    height: 6rem;
  }
}
.input_fields__wrapp {
  display: flex;
  @media only screen and (max-width: 600px) {
    display: inline-block;
    width: 100%;
  }
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: 0 auto;
}
.full {
  width: 100%;
  margin: 20px auto;
}

.input {
  appearance: none;
  background: white;
  color: #555555;
  border: 1px solid black !important;
  display: block;
  outline: 0;
  padding: 1.2em 1.2em;
  text-decoration: none;
  width: 100%;
  border-radius: 4px;
}

input::-webkit-input-placeholder {
  color: #aaa;
}
textarea {
  min-height: 18rem;
}

.btn {
  border: 1px solid #fff;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -ms-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  background: #d84780;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1.2em;
  font-weight: 600;
  color: #fff;
  border: 1px solid #fff;
}
.btn:hover {
  background: #e1719d;
}
