.counter-section {
  color: $white-color;
  padding-block: 5rem;
  @media (min-width: 550px) {
    padding-block: 10rem;
  }
}

.counters-section__heading:before {
  position: absolute;
  bottom: -10px;
  height: 2px;
  width: 100%;

  background-color: currentColor;
  content: "";
}

.counters-section__heading {
  position: relative;
  margin-bottom: 5rem;
}
.counters-sub-section {
  padding-block: 2rem;
  padding-inline: 1rem;
  border: $border;
  min-height: 33rem;
  @media (min-width: 550px) {
    min-height: 23rem;
  }
}
.counters-sub-section__heading-wrapper {
  display: block;
  width: 100%;
  margin-inline: 2rem;
}
.counters-sub-section__heading {
  margin-inline: 2rem;
}
.counters-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: flex-start;
  align-items: center;
  min-height: 10rem;
}
.counter {
  margin-inline: 2rem;
}
