footer {
  padding: 8rem 0 4rem 0;
  color: #d3d3d3;
  font-size: 13px;
  line-height: 24px;
  position: relative;
  background-color: black;

  p {
    color: $white-color;
  }
}

footer a,
footer a:visited {
  color: #0a6567;
}
footer a:hover,
footer a:focus {
  color: #fff;
}

footer .info {
  padding-right: 90px;
}

footer .footer-logo a {
  display: block;
  margin-bottom: 12px;
  margin-top: 12px;
  margin-left: 3px;
  width: 125px;
  height: auto;
}
footer .footer-logo a img {
  height: 100%;
  width: 100%;
}

footer h3 {
  font: 600 13px/24px "Open Sans", sans-serif;
  margin-bottom: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
footer .columns svg {
  font-family: "FontAwesome";
  margin: 0 0 6px 3px;
  font-size: 30px;
  line-height: 48px;
  text-align: left;
  color: #738291;
  display: block;
}
.social-media-menu {
  // display: flex;

  li {
    margin-right: 1rem;
    padding: 1rem;
    // border: 1px solid white;
    // border-radius: 50%;
  }
}
.footer__text-wrapper {
  max-width: 33rem;
  width: 100%;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  margin: 0;
  line-height: 24px;
}
footer ul li a,
footer ul li a:visited {
  color: #3c4753;
}
footer ul li a:hover,
footer ul li a:focus {
  color: #fff;
}
.footer-left {
  padding-right: 5rem;
}
/* copyright */
footer .copyright {
  margin: 6rem 0 0 0;
  padding: 0;
  // clear: both;
}
