.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  width: 100%;
  -webkit-animation: slideDown 2s 1.3s;
  -moz-animation: slideDown 2s 1.3s;
  animation: slideDown 2s 1.3s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  background-color: $white-color;
  &__wrapper {
    text-align: center;
    max-width: 35rem;
    @media (min-width: 550px) {
      max-width: 80rem;
    }
  }

  h1 {
    font-weight: 900;
    color: $blue-color;
    @media (min-width: 550px) {
      font-size: 9rem;
    }
  }
  h2 {
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 8rem;
  }
}
.video__wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: -101;
}
.video-background {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -100;
}
@keyframes slideDown {
  from {
    min-height: 1000px;

    overflow: hidden;
  }
  to {
    min-height: 250px;
  }
}
