.knowledge-and-wisdom-section {
  padding-block: 5rem;
  @media (min-width: 550px) {
    padding-block: 10rem;
  }

  ul {
    list-style: disc;
  }
}
.text-wrapper {
  @media (min-width: 550px) {
    border-left: 2px solid $blue-color;
  }
}
.list {
  counter-reset: list-number;
}
.num:before {
  counter-increment: list-number;
  content: counter(list-number);
  font-size: 4rem;
  font-weight: bold;
  color: $blue-color;
  width: 2rem;
  opacity: 0.05;
  transition: 0.25s;
}
.num {
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.25s;
  h4 {
    position: relative;
    left: -1.5rem;
    color: #3d3d3d;
    transition: 0.25s;
    font-size: 2rem;
    margin: 0;
  }
}
// .list:nth-child(odd) > .num {
//   justify-content: flex-end;
// }
// .list:nth-child(even) > .num {
//   justify-content: flex-start;
// }
.num:hover {
  background-color: #fafafa;
  cursor: pointer;
}
.num:hover h4 {
  left: 1rem;
}

.num:hover:before {
  opacity: 0.9;
}
