.page-header__wrapper {
  height: 40vh;
  width: 100%;
  position: relative;
}
.page-header__title-wrapper {
  position: absolute;
  bottom: 0;
  right: 40px;
  backdrop-filter: blur(7px);
  padding: 2rem;
}
.page-header__title {
  color: $white-color;
  font-weight: 700;
  font-size: 4rem;
  @media (min-width: 550px) {
    font-size: 6rem;
  }
}
