$white-color: #fff;
$black-color: #39393a;
$gray-color: #ccc;
$blue-color: #2972aa;
$border: 1px solid #d8d8d8;
$box-shadow: 0 10px 8px 0 rgb(0 0 0 / 10%);
$base-duration: 250ms;
$spacer: 1rem;

// ordered list
$black: #1d1f20;
$blue: #83e4e2;
$green: #a2ed56;
$yellow: #fddc32;
$white: #fafafa;
